.wide {clear:both;}
h1 {padding-top:16px;}

.tab_name
{
	padding-right:20px;
	font-style:italic;
}

.itog
{
	font-weight:bold;
}

.tab_name a
{
	color:red;
}

#tabs div 
{
	padding:0 16px 0 0;
	float:left;
	clear:none;
}
#list div
{
	
}

.error
{
	color:#ff0000;
	font-style:bold;
	padding-top:16px;
}


table.links_list
{
	margin-bottom: 10px;
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

table.links_list td, table.links_list th
{
	padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

table.links_list th
{
	background: #b0e0e6; /* Цвет фона */
}

