.wide {clear:both;}
h1 {padding-top:16px;}

.tab_name
{
	padding-right:20px;
	font-style:italic;
}

.itog
{
	font-weight:bold;
}

.tab_name a
{
	color:red;
}

#tabs
{
	background-color: #ffff00;
	clear:both;
	width:100%;
/*	padding:16px 0 16px 0; */
	text-align:center;
	line-height: 80px;
}

#logo
{
	clear:none;
	float:left;
	width:10%;
	vertical-align: middle;
	background-color:#ffff00;
}

#logo img
{
	vertical-align: middle;
}

#menu
{
	clear:none;
	float:left;
	width:90%;
	background-color:#ffff00;
	vertical-align: middle;
}

#tabs span
{
	padding:0 16px 0 16px;
}

#tabs span a
{
	/*
	color: white;
	*/
	font-weight: bold;
}

#list div
{
	
}

#details, #invoices
{
	clear:none;
	float:left;
}

#invoices
{
	margin-left:20px;
}

#services
{
	clear:both;
}

table#list td, table#list th
{
	padding: 5px; /* Поля вокруг содержимого таблицы */
}

.error
{
	color:#ff0000;
	font-style:bold;
	padding-top:16px;
}


table.links_list
{
	margin-bottom: 10px;
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

table.links_list td, table.links_list th
{
	padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

table.links_list th
{
	background: #b0e0e6; /* Цвет фона */
}

.price
{
	text-align: right;
}

.itogo
{
	font-weight: bold;
}