<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="/css/style.css" rel="stylesheet" />
		<title><?php echo $controller->getTitle(); ?></title>
	</head>
	<body>
		<div id="tabs">
			<div id="logo"><a href="/"><img src="/images/logo.png" width="48" height="48" alt="Диплом «Диспетчер»" /></a></div>
			<div id="menu">
				<span><a href="/client/">Информация о клиенте</a></span>
				<span><a href="/employee/">Информация о сотруднике</a></span>
				<span><a href="/provider/">Информация о поставщике</a></span>
				<span><a href="/detail/">Детали</a></span>
				<span><a href="/service/">Виды работ</a></span>
				<span><a href="/order/">Заказы</a></span>
				<span><a href="/bill/">Счета</a></span>
			</div>
		</div>
		
<?php		
$sql = "SELECT `key_employee`, `full_name` FROM `employee` WHERE DAY(`birthday`) = DAY(CURDATE()) AND MONTH(`birthday`) = MONTH(CURDATE())";

$db = new mysqli(Config::DB_HOST, Config::DB_USER, Config::DB_PWD, Config::DB_NAME);
if($result = $db->query($sql))
$employee_count = $result->num_rows;

if($employee_count > 0)
{
	echo '
<div style="clear:both;">
	<div style="clear:none; float:left; padding:10px; background-color:#ffff00;">Сегодня день рождение у: ';
	
	for($i = 0; $i < $employee_count; ++$i)
	{
		list($key_employee, $full_name) = $result->fetch_row();
		echo '<a href="/employee/edit/?key='.$key_employee.'">'.$full_name.'</a>';
		if($i < ($employee_count-1)) echo ',&nbsp;';
	}
	
	echo '</div>
</div>';
}
$result->free();
$db->close();
?>
		
		
		
		
		
		<h1 class="wide"><?php echo $controller->getHeader(); ?></h1>
		<?php include Route::VIEWS.$content_view; ?>
	</body>
</html>
