			<tr>
				<td class="tab_name">
<?php


/*
Формируем строку вида:
<a href="/{my_type}/delete/?key={my_key_value}" onclick="return confirm('Точно удалить {name}?'); return false;">X</a>

Например, для типа «клиент» с ключом 567 это будет:
<a href="/client/delete/?key=567" onclick="return confirm('Точно удалить {какое-то имя клиента}?'); return false;">X</a>
*/
echo '					';
echo '<a href="/'.$controller->getType().'/'.Controller::ACTION_DELETE.'/?'.Controller::PARAM_KEY.'='.$row->getKey().'" onclick="return confirm(\'Точно удалить '.$row->getName().'?\'); return false;"><img src="/images/del.gif" width="16" height="16" /></a>
';




?>
				</td>
				<td>
<?php




/*
Формируем строку вида:
*/
echo '					';
echo '<a href="/'.$controller->getType().'/'.Controller::ACTION_EDIT.'/?'.Controller::PARAM_KEY.'='.$row->getKey().'">'.$row->getName().'</a>
';




?>
				</td>
			</tr>
