			<tr>
				<td class="tab_name">
<?php


/*
Формируем строку вида:
<a href="/{my_type}/delete/?key={my_key_value}" onclick="return confirm('Точно удалить {name}?'); return false;">X</a>

Например, для типа «клиент» с ключом 567 это будет:
<a href="/client/delete/?key=567" onclick="return confirm('Точно удалить {какое-то имя клиента}?'); return false;">X</a>
*/
echo '					';
echo '<a href="/'.$controller->getType().'/'.Controller::ACTION_DELETE.'/?'.Controller::PARAM_KEY.'='.$row['key_detail'].'" onclick="return confirm(\'Точно удалить '.$row['name_detail'].'?\'); return false;">X</a>
';




?>
				</td>
				<td>
<?php




/*
Формируем строку вида:
*/
echo '					';
echo '<a href="/'.$controller->getType().'/'.Controller::ACTION_EDIT.'/?'.Controller::PARAM_KEY.'='.$row['key_detail'].'">'.$row['name_detail'].'</a>
';




?>
				</td>
				<td>
<?php
echo $row['kolvo'];
?>
				</td>
				<td>
<?php
echo $row['price'];
?>
				</td>
				<td>
<?php
echo '<a href="/provider/'.Controller::ACTION_EDIT.'/?'.Controller::PARAM_KEY.'='.$row['key_provider'].'">'.$row['name_organization'].'</a>';
?>
				</td>
			</tr>
