<?php

$is_edit = $controller->getModel()->__get('is_edit');

$key = $controller->getModel()->__get('record')['key_order'];
$date = $controller->getModel()->__get('record')['date'];
$key_client = $controller->getModel()->__get('record')['key_client'];

$detail_sum = $controller->getModel()->__get('detail_sum');
$details = $controller->getModel()->__get('details');

$service_sum = $controller->getModel()->__get('service_sum');
$services = $controller->getModel()->__get('services');

$all_clients = $controller->getModel()->__get('all_clients');
$all_details = $controller->getModel()->__get('all_details');
$all_services = $controller->getModel()->__get('all_services');
/*
$all_details = array(
	array('name_detail'=>'A', 'price'=>100), 
	array('name_detail'=>'B', 'price'=>120),
	array('name_detail'=>'C', 'price'=>150)
);
*/

$error = $controller->getModel()->__get('error');

echo "<br />";
if(!$is_edit) echo "<h3>Добавить заказ</h3>";
else echo "<h3>Редактировать заказ</h3>";
echo '
		<form method="POST" action="/order/save/">
			<table td="tab">
				<tr>
					<td class="tab_name">Номер заказа</td>
					<td>'.$key.'</td>
				</tr>
				
				<tr>
					<td  class="tab_name">Дата (\'гггг-мм-дд\')</td>
					<td><input type="text" name="date" value="'.$date.'" /></td>
				</tr>
				
				<tr>
					<td  class="tab_name">Клиент</td>
					<td>
						<select name="key_client[]" size="2">';
foreach($all_clients as $client)
{
	echo '
							<option value="'.$client['key_client'].'"';
	if($client['key_client'] == $key_client) echo ' selected="selected"';
	echo '
							>'.$client['full_name'].'</option>';
}
echo '
						</select>
					</td>
				</tr>
				<tr>
					<td class="tab_name itog">Общая сумма заказа:</td>
					<td class="tab_name itog">'.($detail_sum+$service_sum).' руб.</td>
				</tr>';
				
if(!empty($error)) echo '
				<tr>
					<td colspan="2" class="error">Не заполнено обязательное поле "'.$error.'"!</td>
				</tr>';
echo '
				<tr>
					<td colspan="2" align="center" style="padding-top:20px;">
						<input type="submit" name="submit" value="';
if(!$is_edit) echo "Добавить";
else echo "Сохранить";
echo '" />';
if($is_edit) echo '<input type="hidden" name="key" value="'.$key.'" />';
echo '
					</td>
				</tr>
			</table>
		</form>';
		
if($key > 0)
{
	echo '
		
		<div id="details">
			<hr />
			<h3>Детали в заказе:</h3>
			<table class="links_list">
				<tr>
					<th>X</th>
					<th>Деталь</th>
					<th>Цена, руб.</th>
				</tr>';
foreach($details as $detail)
{
	echo '
				<tr>
					<td><a href="/order/edit/?key='.$key.'&del_detail='.$detail['id'].'">X</a></td>
					<td>'.$detail['name_detail'].'</td>
					<td>'.$detail['price'].'</td>
				</tr>';
}
echo '
				<tr>
					<td colspan="2">Итого:</td>
					<td>'.$detail_sum.'</td>
				</tr>
			</table>
			<form method="GET" action="/order/edit/">
				<table>
					<tr>
						<td>Добавить деталь:</td>
						<td>
							<select name="detail[]" onchange="this.form.submit()">
								<option value="0">---</option>';
foreach($all_details as $detail)
{
	echo '
								<option value="'.$detail['key_detail'].'">'.$detail['name_detail'].'</option>';
}
	
echo '
							</select>
						</td>
					</tr>
				</table>
				<input type="hidden" name="key" value="'.$key.'" />
				<input type="hidden" name="action" value="add" />
			</form>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		<div id="services">
			<hr />
			<h3>Список работ:</h3>
			<table class="links_list">
				<tr>
					<th>X</th>
					<th>Вид работы:</th>
					<th>Цена, руб.</th>
				</tr>';
foreach($services as $service)
{
	echo '
				<tr>
					<td><a href="/order/edit/?key='.$key.'&del_service='.$service['id'].'">X</a></td>
					<td>'.$service['name_service'].'</td>
					<td>'.$service['price'].'</td>
				</tr>';
}
echo '
				<tr>
					<td colspan="2">Итого:</td>
					<td>'.$service_sum.'</td>
				</tr>
			</table>
			<form method="GET" action="/order/edit/">
				<table>
					<tr>
						<td>Добавить вид работы:</td>
						<td>
							<select name="service[]" onchange="this.form.submit()">
								<option value="0">---</option>';
foreach($all_services as $service)
{
	echo '
								<option value="'.$service['key_service'].'">'.$service['name_service'].'</option>';
}
	
echo '
							</select>
						</td>
					</tr>
				</table>
				<input type="hidden" name="key" value="'.$key.'" />
				<input type="hidden" name="action" value="add" />
			</form>
		</div>';
}

